<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mannieschumpert.quicktask</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0EAC33E5-4321-4C3A-B1D5-2E5CD576AA67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F01A262-24C9-4AC7-895B-6CB409BF483D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1D98D1B3-BB8E-445E-8355-0A59DB9F2FC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26298596-06EE-43FA-96A9-06A15968B76E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43D51E54-0F4C-43A0-B136-8504467D56B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>43D51E54-0F4C-43A0-B136-8504467D56B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F4FD87E-5896-4C97-9312-2E84C83860EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6173A354-52E2-4632-9435-818749A24E1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EAC33E5-4321-4C3A-B1D5-2E5CD576AA67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>727A0DAB-EAD1-495B-B9B5-AFA1031C03E0</key>
		<array/>
		<key>734EE61B-B1B5-4C8A-8F13-ED635126345C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E569B0FB-E5C8-42A9-AB66-D2E1DFE352A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7FAB03F7-449C-414D-9C7A-9FD73EA9D1CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>844E2B6C-A6E1-4578-8D25-8687C0393E41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FAB03F7-449C-414D-9C7A-9FD73EA9D1CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>868412B0-17E6-4559-AD76-7ABE0083C437</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F4FD87E-5896-4C97-9312-2E84C83860EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE44732C-5739-4481-B3E9-861B5A6EDBFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D98D1B3-BB8E-445E-8355-0A59DB9F2FC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6DDCB29-1E50-44AF-9641-123622ED0907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF3C558C-8276-4CDB-BF34-A202745C93BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD0392A7-BB54-4251-9F13-D96A43BC8A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF2479E1-2F70-4144-AD0F-70770B67189B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BF2479E1-2F70-4144-AD0F-70770B67189B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3332AFF-F107-4CAE-956B-2DB6499C7854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C16C721F-BDFB-4935-BE96-F4C9AB4623F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F80E296C-CD58-41CA-8C77-C49DE7C61037</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3332AFF-F107-4CAE-956B-2DB6499C7854</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E569B0FB-E5C8-42A9-AB66-D2E1DFE352A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF3C558C-8276-4CDB-BF34-A202745C93BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F80E296C-CD58-41CA-8C77-C49DE7C61037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4021E07-BE0F-41DB-86E2-25BC8C1B1AE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mannie Schumpert</string>
	<key>description</key>
	<string>Quickly add a task to an Asana, v2.1</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana QuickTask</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;task('{query}');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3332AFF-F107-4CAE-956B-2DB6499C7854</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>text</key>
				<string>Add a task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BF2479E1-2F70-4144-AD0F-70770B67189B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BD0392A7-BB54-4251-9F13-D96A43BC8A34</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>akey</string>
				<key>text</key>
				<string>Set Asana API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>734EE61B-B1B5-4C8A-8F13-ED635126345C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;key("{query}");
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E569B0FB-E5C8-42A9-AB66-D2E1DFE352A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>QuickTask</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A15664DF-55E6-4119-A57B-CD95A8420D14</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;save_target("{query}");


</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7FAB03F7-449C-414D-9C7A-9FD73EA9D1CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>aspace</string>
				<key>runningsubtext</key>
				<string>Retrieving data</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;workspace_filter("{query}");</string>
				<key>title</key>
				<string>Retrieving workspace data…</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>844E2B6C-A6E1-4578-8D25-8687C0393E41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>aproject</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;project_filter("{query}");</string>
				<key>title</key>
				<string>Retrieving project data…</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6DDCB29-1E50-44AF-9641-123622ED0907</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;save_target("{query}",true);</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF3C558C-8276-4CDB-BF34-A202745C93BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;person("{query}");
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43D51E54-0F4C-43A0-B136-8504467D56B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aperson</string>
				<key>text</key>
				<string>Save an Asana assignee</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26298596-06EE-43FA-96A9-06A15968B76E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>azone</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;zone_filter("{query}");</string>
				<key>title</key>
				<string>Choose Timezone</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6173A354-52E2-4632-9435-818749A24E1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "" then
	tell application "Alfred 2" to search "azone"
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>6F01A262-24C9-4AC7-895B-6CB409BF483D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;zone_save("{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0EAC33E5-4321-4C3A-B1D5-2E5CD576AA67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;new_project("{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F80E296C-CD58-41CA-8C77-C49DE7C61037</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>54</integer>
				<key>keyword</key>
				<string>anew</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;workspace_filter("{query}");</string>
				<key>title</key>
				<string>Retrieving workspace data…</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C16C721F-BDFB-4935-BE96-F4C9AB4623F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "" then
	tell application "Alfred 2" to search "anew"
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>A4021E07-BE0F-41DB-86E2-25BC8C1B1AE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;get();</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F4FD87E-5896-4C97-9312-2E84C83860EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aget</string>
				<key>text</key>
				<string>Retrieve Asana workspaces and projects.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>868412B0-17E6-4559-AD76-7ABE0083C437</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adefault</string>
				<key>text</key>
				<string>Set default assignee (enter email optional)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE44732C-5739-4481-B3E9-861B5A6EDBFB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;mail("{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D98D1B3-BB8E-445E-8355-0A59DB9F2FC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>atarget</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;target();</string>
				<key>title</key>
				<string>Show current task target</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>727A0DAB-EAD1-495B-B9B5-AFA1031C03E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>apeople</string>
				<key>script</key>
				<string>require('asana.php');
$a = new Asana();
$a-&gt;people();</string>
				<key>title</key>
				<string>Show assignee nicknames and emails</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CBFE1068-30FF-4A73-A67E-7C74B9429574</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please see http://mannieschumpert.com/quicktask/ for complete instructions.

Credit to David Ferguson for his vital work and his workflow PHP class.</string>
	<key>uidata</key>
	<dict>
		<key>0EAC33E5-4321-4C3A-B1D5-2E5CD576AA67</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>1D98D1B3-BB8E-445E-8355-0A59DB9F2FC7</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>26298596-06EE-43FA-96A9-06A15968B76E</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>43D51E54-0F4C-43A0-B136-8504467D56B7</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>4F4FD87E-5896-4C97-9312-2E84C83860EA</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>6173A354-52E2-4632-9435-818749A24E1A</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>6F01A262-24C9-4AC7-895B-6CB409BF483D</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>727A0DAB-EAD1-495B-B9B5-AFA1031C03E0</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>734EE61B-B1B5-4C8A-8F13-ED635126345C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7FAB03F7-449C-414D-9C7A-9FD73EA9D1CB</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>844E2B6C-A6E1-4578-8D25-8687C0393E41</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>868412B0-17E6-4559-AD76-7ABE0083C437</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>A15664DF-55E6-4119-A57B-CD95A8420D14</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A4021E07-BE0F-41DB-86E2-25BC8C1B1AE9</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>AE44732C-5739-4481-B3E9-861B5A6EDBFB</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>B6DDCB29-1E50-44AF-9641-123622ED0907</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BD0392A7-BB54-4251-9F13-D96A43BC8A34</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BF2479E1-2F70-4144-AD0F-70770B67189B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C16C721F-BDFB-4935-BE96-F4C9AB4623F5</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>C3332AFF-F107-4CAE-956B-2DB6499C7854</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CBFE1068-30FF-4A73-A67E-7C74B9429574</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>E569B0FB-E5C8-42A9-AB66-D2E1DFE352A9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EF3C558C-8276-4CDB-BF34-A202745C93BE</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>F80E296C-CD58-41CA-8C77-C49DE7C61037</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://mannieschumpert.com/quicktask/</string>
</dict>
</plist>
